/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* Estilo para iconos de redes*/

.icono {
  color: #ede8e8; /* Color claro */
  transition: transform 0.2s; /* Transición suave para el efecto de agrandamiento */
  margin: 10px;
}

.icono:hover,
.icono:focus {
  color: #f2f2f2; /* Color claro en estado hover o focus */
  transform: scale(1.7); /* Agrandamiento del icono */
}

.App-footer p {
  margin: 0%;
}


/* Estilo para el carrito*/
.carrito{
  position: fixed;
  background-color: beige;
  right: 0;
  top: 10%;
  width: auto;
}